#pet-form {
  margin-top: 50px;
}
#pet-form label {
  font-size: 1.3em;
}
#pet-form .btn {
  margin-top: 30px;
  width: 100%;
}
#pet-form .btn input {
  color: #fff;
  font-size: 1.3em;
  text-transform: capitalize;
}
